/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 16, 2017, 10:34:41 AM
    Author     : Administrator
*/
div{
    margin-top: 200px;
    margin-left: 500px;
    margin-right: 100px;
    width: 300px;
    height: 300px;
    background-color: white;
    padding: 15px;
}
.p0{
    color: gainsboro;
    text-align: center;
    margin-left: 40px;
}
.p1{
    color: green;
    text-align: center;
}


